*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: red;
}
.second-title{
    color: blue;
}
.third-title{
    color:blueviolet;
}
table {
    border-color: 1px solid black;
}